/secret.key.not-so-secret
/credentials.xml
/hudson.plugins.git.GitTool.xml
/identity.key.enc
/secret.key
/hudson.model.UpdateCenter.xml
/queue.xml.bak
/jenkins.install.InstallUtil.lastExecVersion
/jenkins.install.UpgradeWizard.state
/nodeMonitors.xml
/copy_reference_file.log
/config.xml
/.owner
/.bash_history
/war
/users
/userContent
/updates
/secrets
/plugins
/logs
/init.groovy.d
/.java
/.idea
/.cache